node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.apk
*.abbs

coverage/
stories/
*.local

*.log
logs

.DS_Store

android-service-account-key.json
app-store-connect-api-key.p8
